{% extends 'base.html '%}
{% load static %}




{% block contect %}
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                                                <h2 style="color: red; font-weight: bold; text-shadow: 1px 1px 2px #000000;">
  TRAP SHOP
</h2>
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>جدیدترین محصولات ما</h2>
                        <span>تمام محصولات ما را بررسی کنید.</span>
                    </div>
                </div>
            </div>
         </div>
       <div class="container">
    <div class="row"><div class="row">

<div class="row">
  <div class="row">

    {% for i in formies %}

    <div class="col-lg-4 col-md-6 col-sm-12">

        <!-- لینک درست به صفحه جزئیات -->
        <a href="{% url 'product_detail' i.id %}">

            <div class="item">

                <div class="thumb">
                    <img src="{{ i.images.url }}" alt="">
                </div>

                <div class="down-content">

                    <h4>{{ i.title }}</h4>
                    <span>{{ i.my_call }}</span>
                    <p>{{ i.discribshen }}</p>

                </div>

            </div>

        </a>

    </div>

    {% endfor %}

</div>


                </div>
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>

                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="{% url 'aslad3' %}">3</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
    
     <!-- ***** Footer Start ***** -->
   {% endblock %}